@import "tailwindcss";

/* Prevent iOS bounce/rubber-band scrolling */
html {
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;

  /* Hide scrollbar for webkit browsers (Safari, Chrome) */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for webkit browsers */
body::-webkit-scrollbar {
  display: none;
}
